ref_LTFSCopyGUI/

build/
*.user
*.pro.user
*.pro.user.*
CMakeLists.txt.user
.vscode/
.DS_Store
*.o
*.obj
moc_*
ui_*
qrc_*
Makefile*
*.exe
*.app
*.ncb
*.suo
*.sln
*.pdb
*.idb
.qt/
*.qmake.stash
*.autosave
*.user.*
.idea/
cmake-build-*/
compile_commands.json
.cmake/

